
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-outline-primary">
                   @ViewData["ButtonName"]
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            @ViewData["TableName"]
                        </th>
                        <th style="width: 30%">
                            Add Date
                        </th>
                        <th style="width: 8%" class="text-center">
                            Author
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
