
@{
    ViewData["Title"] = "Error";
}

<div class="container error-page">
    <h1 class="error-code wow fadeInUp">404</h1>
    <p class="error-description wow fadeInUp">Oops! The page you are looking for does not exist. It might have been removed or deleted.Go back to home page now, or stay, it is quiet out here.</p>
    <p> @ViewBag.ErrorMessage</p>
</div>

