@model IEnumerable<DataLayer.Model.Product>
@{
    ViewData["Title"] = "Shop";
}
<div class="container shop-page">
    <div class="page-header wow fadeInUp">
       
        <p class="result-count">Showing 1–@ViewBag.Result of @ViewBag.Result results</p>
    </div>
    <div class="row">
        @foreach(var item in Model){
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                    <img src="@(Url.Content(item.ImageUrl))" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">@item.Name</h5>
            <p class="product-price">£@item.Price <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        }
    </div>
</div>