
@{
    ViewData["Title"] = "Shop";
}
<div class="container shop-page">
    <div class="page-header wow fadeInUp">
        <h2 class="page-title">Shop</h2>
        <p class="result-count">Showing 1–16 of 23 results</p>
    </div>
    <div class="row">
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
        <div class="col-md-4 product-card wow fadeInUp">
            <div class="product-thumbnail-wrapper">
                <img src="~/images/Shop/shop@2x.jpg" alt="product" class="product-thumbnail">
            </div>
            <h5 class="product-title">Flying Ninja</h5>
            <p class="product-price">£15,00 <del>£12,00</del></p>
            <div class="btn-wrapper"> <button class="btn btn-add-to-cart">Add to Cart</button></div>
        </div>
    </div>
</div>