@model DataLayer.Model.ApplicationUser
@{
}
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a class="d-block">@Model.FirstName @Model.LastName</a>
    </div>
    <div class="info">
        <form method="post" asp-action="Logout" asp-controller="Account">
            <button class="btn btn-sm btn-danger" type="submit">Logout</button>
        </form>
    </div>
</div>
