@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container wow fadeIn">
        <div id="oleezLandingCarousel" class="oleez-landing-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="~/images/Banner_1@2x.jpg" alt="First slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>Remarkable</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>Digital agency</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE PROJECT</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Banner_2@2x.jpg" alt="Second slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>Remarkable</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>Digital agency</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE PROJECT</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Banner_3@2x.jpg" alt="Third slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>Remarkable</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>Digital agency</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE PROJECT</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Banner_4@2x.jpg" alt="Fourth slide" class="w-100">
                    <div class="carousel-caption">
                        <h2 data-animation="animated fadeInRight"><span>Remarkable</span></h2>
                        <h2 data-animation="animated fadeInRight"><span>Digital agency</span></h2>
                        <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE PROJECT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-about">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">01</span> <img src="~/images/Logo_2.svg" alt="ollez" height="12px">
            </div>
            <div class="row landing-about-content wow fadeInUp">
                <div class="col-md-6">
                    <h2>We help and solve your business problem.</h2>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio corporis delectus dolorem possimus, dolor rerum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 landing-about-feature wow fadeInUp">
                    <img src="~/images/icon_1.svg" alt="document" class="about-feature-icon">
                    <h5 class="about-feature-title">Market Research</h5>
                    <p class="about-feature-description">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                </div>
                <div class="col-md-4 landing-about-feature wow fadeInUp">
                    <img src="~/images/icon_2.svg" alt="document" class="about-feature-icon">
                    <h5 class="about-feature-title">Wireframe/Sketch</h5>
                    <p class="about-feature-description">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                </div>
                <div class="col-md-4 landing-about-feature wow fadeInUp">
                    <img src="~/images/icon_3.svg" alt="document" class="about-feature-icon">
                    <h5 class="about-feature-title">Creative Design</h5>
                    <p class="about-feature-description">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-projects">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">02</span> <img src="~/images/Logo_2.svg" alt="oleez" height="12px">
            </div>
            <h2 class="section-title wow fadeInUp">Latest Projects <a href="#!" class="all-projects-link">View All</a></h2>
            <div class="landing-projects-carousel wow fadeIn">
                <div class="card landing-project-card">
                    <img src="~/images/Project_1@2x.jpg" class="card-img" alt="Project 1">
                    <div class="card-img-overlay">
                        <h6 class="project-category">Branding</h6>
                        <h5 class="project-title">BootstrapDash</h5>
                    </div>
                </div>
                <div class="card landing-project-card">
                    <img src="~/images/Project_2@2x.jpg" class="card-img" alt="Project 1">
                    <div class="card-img-overlay">
                        <h6 class="project-category">Branding</h6>
                        <h5 class="project-title">BootstrapDash</h5>
                    </div>
                </div>
                <div class="card landing-project-card">
                    <img src="~/images/Project_3@2x.jpg" class="card-img" alt="Project 1">
                    <div class="card-img-overlay">
                        <h6 class="project-category">Branding</h6>
                        <h5 class="project-title">BootstrapDash</h5>
                    </div>
                </div>
                <div class="card landing-project-card">
                    <img src="~/images/Project_4@2x.jpg" class="card-img" alt="Project 1">
                    <div class="card-img-overlay">
                        <h6 class="project-category">Branding</h6>
                        <h5 class="project-title">BootstrapDash</h5>
                    </div>
                </div>
            </div>
            <div class="slick-navbtn-wrapper"></div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-team">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">03</span> <img src="~/images/Logo_2.svg" alt="ollez" height="12px">
            </div>
            <div class="row landing-team-content wow fadeInUp">
                <div class="col-md-6">
                    <h2 class="section-title">Meet The Team <br> Our Professionals</h2>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio corporis delectus dolorem possimus, dolor rerum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                    <img src="~/images/Team_3@2x.jpg" alt="Team Member" class="team-card-img">
                    <h5 class="team-card-name">Siri Jakobsson</h5>
                    <p class="team-card-job">Web Developer</p>
                    <nav class="team-card-social-links">
                        <a href="#!">Fb</a>
                        <a href="#!">Tw</a>
                        <a href="#!">In</a>
                    </nav>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                    <img src="~/images/Team_2@2x.jpg" alt="Team Member" class="team-card-img">
                    <h5 class="team-card-name">Arend Pellewever</h5>
                    <p class="team-card-job">Founder</p>
                    <nav class="team-card-social-links">
                        <a href="#!">Fb</a>
                        <a href="#!">Tw</a>
                        <a href="#!">In</a>
                    </nav>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                    <img src="~/images/Team_1@2x.jpg" alt="Team Member" class="team-card-img">
                    <h5 class="team-card-name">Antokolskiy</h5>
                    <p class="team-card-job">Web Developer</p>
                    <nav class="team-card-social-links">
                        <a href="#!">Fb</a>
                        <a href="#!">Tw</a>
                        <a href="#!">In</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-client">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">04</span> <img src="~/images/Logo_2.svg" alt="ollez" height="12px">
            </div>
            <h2 class="section-title mb-1 wow fadeInUp">Partners & clients</h2>
            <p class="client-section-subtitle">We’re constantly refining our product. Adding new features. Working to help your business grow.</p>
            <div class="row">
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_4.png" alt="client" height="50px">
                    </div>
                </div>
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_2.png" alt="client" height="50px">
                    </div>
                </div>
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_1.png" alt="client" height="50px">
                    </div>
                </div>
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_6.png" alt="client" height="50px">
                    </div>
                </div>
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_3.png" alt="client" height="50px">
                    </div>
                </div>
                <div class="col-md-4 client-logo-wrapper wow flipInX">
                    <div class="client-logo">
                        <img src="~/images/client_5.png" alt="client" height="50px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-news">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">05</span> <img src="~/images/Logo_2.svg" alt="ollez" height="12px">
            </div>
            <h2 class="section-title wow fadeInUp">Recent News & Stories.</h2>
            <p class="news-section-subtitle wow fadeInUp">Share your stories and news with everyone.</p>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="news-card news-card-1 wow fadeInUp">
                        <div class="card-body">
                            <div class="author-info media">
                                <img src="~/images/Team_1_Copy_2@2x.jpg" alt="author" class="author-avatar">
                                <div class="media-body">
                                    <h6 class="author-name">Posted by Colabrio</h6>
                                    <p class="news-post-date">July 5, 2019</p>
                                </div>
                            </div>
                            <div class="post-meta">
                                <span class="post-category">Digital Strategy</span> 4 min read
                            </div>
                            <h5 class="post-title">The Ultimate Guide to Make Your WordPress Journal.</h5>
                            <a href="#!" class="post-permalink">Read more </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="news-card news-card-2 wow fadeInUp">
                        <div class="card-body">
                            <div class="author-info media">
                                <img src="~/images/Team_2_Copy_2@2x.jpg" alt="author" class="author-avatar">
                                <div class="media-body">
                                    <h6 class="author-name">Posted by Stormie</h6>
                                    <p class="news-post-date">July 5, 2019</p>
                                </div>
                            </div>
                            <div class="post-meta">
                                <span class="post-category">Personal</span> 4 min read
                            </div>
                            <h5 class="post-title">The Highly Contemporary UI/UX Design from a london.</h5>
                            <a href="#!" class="post-permalink">Read more </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="news-card news-card-3 wow fadeInUp">
                        <div class="card-body">
                            <div class="author-info media">
                                <img src="~/images/Team_3_Copy_2@2x.jpg" alt="author" class="author-avatar">
                                <div class="media-body">
                                    <h6 class="author-name">Posted by Angela</h6>
                                    <p class="news-post-date">July 5, 2019</p>
                                </div>
                            </div>
                            <div class="post-meta">
                                <span class="post-category">Personal</span> 4 min read
                            </div>
                            <h5 class="post-title">A Color Exercise for our Brand’s Illustration </h5>
                            <a href="#!" class="post-permalink">Read more </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oleez-landing-section oleez-landing-section-testimonials">
    <div class="container">
        <div class="oleez-landing-section-content">
            <div class="oleez-landing-section-verticals wow fadeIn">
                <span class="number">05</span> <img src="~/images/Logo_2.svg" alt="ollez" height="12px">
            </div>
            <div class="d-md-flex justify-content-between wow fadeInUp">
                <div class="testimonial-section-content">
                    <h2 class="section-title">What our clients say</h2>
                    <p class="section-subtitle">Share your stories and news with everyone.</p>
                </div>
                <div class="testimonial-carousel-navbtn-wrapper"></div>
            </div>
            <div class="landing-testimonial-carousel wow fadeInUp">
                <div class="landing-testimonial-card">
                    <div class="media">
                        <img src="~/images/Client_1@2x.jpg" alt="client" class="testimonial-card-img">
                        <div class="media-body">
                            <p class="testimonial-card-content">
                                The revulsion in our feelings was therefore all the greater when the car suddenly escaped from this height of desolation, and a magnificent prospect burst upon our view.
                            </p>
                            <h6 class="testimonial-card-name">Winnie Warner</h6>
                            <p class="testimonial-card-company">Creative Company</p>
                        </div>
                    </div>
                </div>
                <div class="landing-testimonial-card">
                    <div class="media">
                        <img src="~/images/Client_2@2x.jpg" alt="client" class="testimonial-card-img">
                        <div class="media-body">
                            <p class="testimonial-card-content">
                                The revulsion in our feelings was therefore all the greater when the car suddenly escaped from this height of desolation, and a magnificent prospect burst upon our view.
                            </p>
                            <h6 class="testimonial-card-name">Wesley Ford</h6>
                            <p class="testimonial-card-company">Creative Company</p>
                        </div>
                    </div>
                </div>
                <div class="landing-testimonial-card">
                    <div class="media">
                        <img src="~/images/Client_3@2x.jpg" alt="client" class="testimonial-card-img">
                        <div class="media-body">
                            <p class="testimonial-card-content">
                                The revulsion in our feelings was therefore all the greater when the car suddenly escaped from this height of desolation, and a magnificent prospect burst upon our view.
                            </p>
                            <h6 class="testimonial-card-name">Winnie Warner</h6>
                            <p class="testimonial-card-company">Creative Company</p>
                        </div>
                    </div>
                </div>
                <div class="landing-testimonial-card">
                    <div class="media">
                        <img src="~/images/Client_4@2x.jpg" alt="client" class="testimonial-card-img">
                        <div class="media-body">
                            <p class="testimonial-card-content">
                                The revulsion in our feelings was therefore all the greater when the car suddenly escaped from this height of desolation, and a magnificent prospect burst upon our view.
                            </p>
                            <h6 class="testimonial-card-name">Wesley Ford</h6>
                            <p class="testimonial-card-company">Creative Company</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>