@model DataLayer.Model.About
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "About Editör";
}

<div class="container-fluid p-0 m-1" style="height: calc(60vh - 100px);">
    <div class="row no-gutters justify-content-center h-100">
        <div class="col-12 p-0 h-100">
            <form asp-action="AboutEdit" asp-controller="Admin" method="post" class="h-100 d-flex flex-column">
                <div class="form-group flex-grow-1 m-0">
                    <textarea id="Description" name="Description" class="form-control h-100">@Html.Raw(Model.Description)</textarea>
                </div>
                <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        CKEDITOR.replace('Description', {
            height: 'calc(60vh - 100px)', 
            removePlugins: 'resize,maximize',
            resize_enabled: false,
            removeButtons: 'Maximize,ShowBlocks'
        });
    </script>
}
