@model BusinessLayer.Services.ViewModel.BlogViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit Blog";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-edit"></i> Edit Blog</h3>
                    </div>
                    <form asp-action="EditBlog" asp-controller="Admin" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input asp-for="Date" class="form-control datetimepicker-input" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Thumbnail" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-upload"></i></span>
                                    </div>
                                    <input type="file" class="form-control" name="Thumbnail" />
                                </div>
                                @if (!string.IsNullOrEmpty(Model.ThumbnailPath))
                                {
                                    <img src="@(Url.Content(Model.ThumbnailPath))" alt="Thumbnail" class="img-thumbnail mt-2" style="max-width: 200px;" />
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-heading"></i></span>
                                    </div>
                                    <input asp-for="Title" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                                    </div>
                                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                                </div>
                            </div>

                           
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
